In [2]:
import json
#json names changed for simplicity
applicant1 = json.load(open("baby1.json"))
applicant2 = json.load(open("baby2.json"))
applicant3 = json.load(open("baby3.json"))

In [12]:
#lists account types
import pandas as pd
df_accounts = pd.json_normalize(applicant1, record_path=['AccountAllocations','Accounts'])[['Key','Description']]
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [35]:
df_allocations1 = pd.json_normalize(applicant1,record_path=['AccountAllocations','Accounts','FutureAllocations'], meta = [['AccountAllocations','Accounts','Description']])[['AccountAllocations.Accounts.Description','AllocationPct']]
df_allocations2 = pd.json_normalize(applicant2,record_path=['AccountAllocations','Accounts','FutureAllocations'], meta = [['AccountAllocations','Accounts','Description']])[['AccountAllocations.Accounts.Description','AllocationPct']]
df_allocations3 = pd.json_normalize(applicant3,record_path=['AccountAllocations','Accounts','FutureAllocations'], meta = [['AccountAllocations','Accounts','Description']])[['AccountAllocations.Accounts.Description','AllocationPct']]
merged_allocations = df_allocations1.merge(df_allocations2, on='AccountAllocations.Accounts.Description' )
merged_allocations = merged_allocations.merge(df_allocations3, on='AccountAllocations.Accounts.Description' )
merged_allocations.columns=["Account","Allocation 1","Allocation 2","Allocation 3"]
merged_allocations

,Account,Allocation 1,Allocation 2,Allocation 3
0,Fixed,0.0,0.0,0.0
1,FixedLT,0.0,0.0,0.0
2,1-Year Indexed Account,0.0,0.0,0.0
3,1-Year No Cap Indexed Account,0.0,0.0,0.0
4,1-Year High Cap Plus Indexed Account,0.0,0.0,0.0
5,Variable Account,100.0,100.0,100.0

In [42]:
#riders
riders = pd.json_normalize(applicant1, record_path=['Riders'])[['Name','Category']]
riders

                                                Name   Category
0                                   Conversion Rider  Automatic
1                      Minimum Indexed Benefit Rider  Automatic
2                        Overloan Protection 3 Rider  Automatic
3  Accelerated Death Benefit Rider for Chronic an...   Optional
4  No Lapse Guarantee Rider (Short-Term No Lapse ...  Automatic
5  Accelerated Death Benefit Rider for Terminal I...   Optional